body {
  margin: 0;
}
header {
  height: 100px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px 20px;
}

.display {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px black solid;
  width: 800px;
  height: 400px;
}

.address {
  font-size: 2rem;
}
