body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
header {
  height: 100px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px 20px;
}
.nav {
  height: 5vh;
  border-bottom: 1px solid grey;
  width: 20vw;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

.nav-btn {
  border: none;
  padding: 0px 20px;
  background-color: white;
  cursor: pointer;
}
.display {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px black solid;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}

.address {
  font-size: 80px;
}

.icon {
  width: 100px;
  height: 100px;
}
.temp {
  font-size: 90px;
}

.tempAndIcon {
  display: flex;
}

.text {
  border-top: 2px solid rgba(128, 128, 128, 0.461);
  width: 90%;
  text-align: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px black solid;
}

.daily-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: flex-start;
}

.table {
  display: flex;
  align-items: center;
  width: 60vw;
  justify-content: space-around;
  border-bottom: 2px solid black;
}
